<app-nav-cpd></app-nav-cpd>

<div class="container-custom">
  <div class="content-title">
    <p>Nessa página você encontra suas requisições de ordens de serviço</p>
  </div>
  
  <!-- Botões de filtro -->
  <div class="btn-group mb-3"  aria-label="Filtro de ordens">
    <button class="btn btn-secondary" (click)="filtrarOrdens('todas')">Todas as ordens</button>
    <button class="btn btn-secondary" (click)="filtrarOrdens('concluidas')">Concluídas</button>
    <button class="btn btn-secondary" (click)="filtrarOrdens('emandamento')">Em andamento</button>
  </div>

  <!-- Tabela de ordens de serviço -->
  <div class="table-line">
    <table class="table table-ajuste">
      <!-- Cabeçalho da tabela -->
      <thead>
        <tr>
          <th>ID da ordem</th>
          <th>Status da ordem</th>
          <th>Data da atribuição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <!-- Corpo da tabela -->
      <tbody *ngIf="ordensFiltradas && ordensFiltradas.length">
        <tr *ngFor="let ordem of ordensFiltradas">
          <td>{{ ordem.id }}</td>
          <td>
            <span [ngClass]="{
              'badge-warning': ordem.estadoOrdemServico === estadoOrdemServicoEnum.EmAndamento,
              'badge-success': ordem.estadoOrdemServico === estadoOrdemServicoEnum.Concluida,
              'badge-secondary': ordem.estadoOrdemServico === estadoOrdemServicoEnum.ItemParaCompra
            }" class="badge estadoOrdemServico-span">
              {{ ordem.estadoOrdemServico }}
            </span>
          </td>
          <td>{{ ordem.dataOrdemServico }}</td>
          <td>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ver</button>
          </td>
        </tr>
      </tbody>
      <!-- Rodapé da tabela -->
      <tfoot *ngIf="!ordensFiltradas.length">
        <tr>
          <td colspan="4">
            <h4>Nenhuma ordem encontrada!</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
