<app-nav-cpd></app-nav-cpd>

<div class="container-custom">
  <div class="content-title">
    <p>Nessa página você encontra suas requisições de ordens de serviço</p>
  </div>
  
  <!-- Botões de filtro -->
  <div class="filter-buttons"  aria-label="Filtro de ordens">
    <button class="btn btn-secondary" (click)="filtrarOrdens('todas')">Todas as ordens</button>
    <button class="btn btn-secondary" (click)="filtrarOrdens('concluidas')">Concluídas</button>
    <button class="btn btn-secondary" (click)="filtrarOrdens('emandamento')">Em andamento</button>
  </div>

  <!-- Tabela de ordens de serviço -->
  <div class="table-line">
    <table class="table table-ajuste">
      <!-- Cabeçalho da tabela -->
      <thead>
        <tr>
          <th>ID da ordem</th>
          <th>Status da ordem</th>
          <th>Data da atribuição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <!-- Corpo da tabela -->
      <tbody *ngIf="ordensFiltradas && ordensFiltradas.length">
        <tr *ngFor="let ordem of ordensFiltradas">
          <td>{{ ordem.id }}</td>
          <td>
            <span [ngClass]="getBadgeClass(ordem.estadoOrdemServico)" class="badge estadoOrdemServico-span">
              {{ ordem.estadoOrdemServico }}
            </span>
          </td>
          <td>{{ ordem.dataOrdemServico }}</td>
          <td>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openModal(template, ordem.id)">Ver</button>
          </td>
        </tr>
      </tbody>
      <!-- Rodapé da tabela -->
      <tfoot *ngIf="!ordensFiltradas.length">
        <tr>
          <td colspan="4">
            <h4>Nenhuma ordem encontrada!</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-content">
    <div class="modal-header mb-3">
      <h5 class="modal-title p-3" id="orderModalLabel">Ordem de serviço #{{ ordemSelecionada?.id }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Local de ocorrência:</label>
            <p>{{ ordemSelecionada?.localEquipamento }}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Data da atribuição:</label>
            <p>{{ ordemSelecionada?.dataOrdemServico }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Tipo do equipamento:</label>
            <p>{{ ordemSelecionada?.tipoEquipamento }}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Status:</label>
            <select class="form-select" id="status" [(ngModel)]="novoStatus">
              <option value="EmAndamento">Em Andamento</option>
              <option value="Concluida">Concluída</option>
              <option value="ParaCompra">Para Compra</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Posição do equipamento:</label>
            <p>{{ ordemSelecionada?.posicaoEquipamento }}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-bold">Serial do equipamento:</label>
            <p>{{ ordemSelecionada?.serialEquipamento }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label class="form-label fw-bold">Descrição do problema:</label>
            <p>{{ ordemSelecionada?.descricaoProblema }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="salvarStatus()">Salvar</button>
    </div>
  </div>
</ng-template>
