<app-nav-coord></app-nav-coord>

<div class="container-custom">
  <div class="content-title">
    <p>Nessa página você encontra suas aprovações de ordens de serviço.</p>
  </div>
  <div class="table-line">
    <table class="table table-ajuste">
      <thead>
        <tr>
          <th>ID da ordem</th>
          <th>Status da ordem</th>
          <th>Data da atribuição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="ordensFiltradas && ordensFiltradas.length">
        <tr *ngFor="let ordem of ordensFiltradas">
          <td>{{ ordem.id }}</td>
          <td>
            <span [ngClass]="getBadgeClass(ordem.estadoOrdemServico)" class="badge estadoOrdemServico-span">
              {{ ordem.estadoOrdemServico }}
            </span>
          </td>
          <td>{{ ordem.dataOrdemServico }}</td>
          <td>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ver</button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!ordensFiltradas.length">
        <tr>
          <td colspan="8">
            <h4>Nenhuma ordem encontrada!</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
